<footer class="bg-light text-muted mt-5">
  <div class="container">
    <div class="row pt-5 pb-3">
      <div class="col-sm-12 text-center">
        <p>Copyright (c) 2021 tastylog. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
